
li {
  list-style: none;
  display: inline;
  margin: 10px;
  padding: 5px;
  background: lightgrey;
  border-radius: 10%;
}

ul {
  margin: 0;
  padding: 0;
}

.asset-image {
  max-width: 200px;
}

.header {
  font-size: 3em;
  font-weight: bold;
  color: #555;
  margin: 20px 0px 20px 50px;

}

.tag-container {
  height: 30px;
  overflow: hidden;
  position: relative;
  margin: 10px 0;
}

.tags {
  overflow: scroll;
  white-space: nowrap;
}

.caption-container {
  overflow: hidden;
  height: 100px;
  margin: 10px;
}

.hearts {
  text-align: center;
}

.grid {
  background: #EEE;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  width: 200px;
  border-radius: 8px;
  background: white;
  float: left;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  margin: 10px;

}

img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
